.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
.left {
    left: 0;
}
.right {
    right: 0;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.left-aligned {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}
.vertl {
    border-left: 6px solid #fff774;
    height: 50%;
    position: absolute;
    left: 50%;
    margin-top: 20%;
    top: 0;
}
.point2win {
    display: inline-block;
    vertical-align: -30%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 64px;
    color: #fff774;
}